

<ion-content [fullscreen]="true">
  <div class="conatainer">
    <ion-img src="assets/pink.png"></ion-img>
    <br>
    <ion-title style="color: #1F41BB">Mi Colchoncito</ion-title>
    <br>
    <p>Explore all the existing job roles based on your interest and study major</p>
    <div class="btn">
      <ion-button [routerLink]="['/login']" class="log">Login</ion-button>
      <ion-button [routerLink]="['/singup']" class="log2" fill="clear" >Register</ion-button>
    </div>



  </div>
  <!-- <ion-fab vertical="bottom" horizontal="end" style="margin-bottom: 30px;">
    <ion-fab-button [routerLink]="['/login']">
      <ion-icon name="chevron-forward"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->
</ion-content>
