

<ion-content [fullscreen]="true">
  <div class="icon1">
    <ion-icon [routerLink]="['/login']"  name="arrow-back-outline"></ion-icon>
  </div>
  <div class="header">
    <ion-title class="title" style="color: #1F41BB">
      Enter you email
      <p class="subTitle">To recived a reset password</p>
    </ion-title>
  </div>

  <ion-item>
    <ion-input [(ngModel)]="email" class="input" placeholder="Enter your email"></ion-input>
    <!-- <ion-icon name="person-outline"></ion-icon> -->
  </ion-item>

  <ion-button  (click)="resetPassword()">Send</ion-button>
  
</ion-content>
